<div class="login-page">
    {{#> Layout}}
        {{#> Form className="login-page__form" overlayClassName="login-page__form-overlay" title="Вход"}}
            <div>
                {{{ InputField placeholder="example@yandex.ru" ref="login" name="login" label="Логин" validate=validate.login
                }}}
                {{{ InputField name="password" ref="password" name="password" type="password" label="Пароль" validate=validate.password }}}
                {{{ ErrorLine errorText=errorText ref="errorText" }}}
            </div>
            <div class="login-page__action-buttons">
                {{{ Button label="Войти" type="primary" onClick=onLogin className=""}}}
                {{{ Button label="Нет аккаунта?" type="link" onClick=onRegister className=""}}}
            </div>
        {{/Form}}
    {{/Layout}}
</div>
