<div class="input {{overlayClassName}}">
  <label class="input__container {{labelClassName}}">
    <div class="input__label">{{labelText}}</div>
    <input
      class="input__element {{inputClassName}}"
      placeholder="{{placeholder}}"
      name="{{fieldName}}"
      type="{{type}}"
      value="{{defaultValue}}"
      {{#if disabled}}disabled="{{disabled}}"{{/if}}
    />
  </label>
</div>