<div class='chat'>
	{{#if activeChat}}
		{{{ChatHeader title=activeChat.title avatar=activeChat.avatar}}}
		{{{ChatFeed}}}
		{{{ChatFooter}}}
	{{else}}
		{{{Plug text='Выберите чат для начала общения' className='chat__plug'}}}
	{{/if}}
</div>
