<div class='chat'>
	{{#if selectedChat}}
		{{{ChatHeader title=selectedChat.title avatar=selectedChat.avatar}}}
		{{{ChatFeed}}}
		{{{ChatFooter}}}
	{{else}}
		{{{Plug text='Выберите чат для начала общения' className='chat__plug'}}}
	{{/if}}
</div>