<div class="input">
  <label for{{name}} class="input__container {{labelClassName}}">
    <div class="input__label">{{labelText}}</div>
    <input
      class="input__element {{#if inputClassName}}{{inputClassName}}{{/if}}"
      placeholder="{{placeholder}}"
      name="{{name}}"
      type="{{type}}"
      value="{{value}}"
      {{#if disabled}}disabled="{{disabled}}"{{/if}}
    />
  </label>
</div>
