<div class="edit-profile-page">
  {{#> Sider }}
    {{{ IconButton onClick=goBack icon="arrow-blue-icon"
    className="edit-profile-page__back-button"}}}
  {{/Sider}}
  {{#> Layout className="edit-profile-page__container"}}
    {{#> Form className="edit-profile-page__form-container"}}
    <div class="edit-profile-page__form-data">
      <div class="edit-profile-page__avatar">
        {{{ Avatar
            imageSrc=user.avatar
            label="Поменять аватар"
            name="avatar"
            className=""
        }}}
      </div>
      <div class="edit-profile-page__fields">
        {{{ ProfileInputField ref="email" name="email" label="Почта" type="email" value=user.email
        validate=validate.email}}}
        {{{ ProfileInputField ref="login" name="login" label="Логин" type="text" value=user.login
        validate=validate.login}}}
        {{{ ProfileInputField ref="first_name" name="first_name" label="Имя" type="text" value=user.first_name
        validate=validate.firstName}}}
        {{{ ProfileInputField ref="second_name" name="second_name" label="Фамилия" type="text" value=user.second_name
        validate=validate.secondName}}}
        {{{ ProfileInputField ref="display_name" name="display_name" label="Имя в чате" type="text" value=user.display_name}}}
        {{{ ProfileInputField ref="phone" name="phone" label="Телефон" type="text" value=user.phone
        validate=validate.phone}}}
        {{{ ErrorLine errorText=errorText ref="errorText" }}}
      </div>
    </div>
    <div class="edit-profile-page__actions">
      {{{ Button label="Сохранить" type="primary" className="edit-profile-page__action-button"
      onClick=onSubmit}}}
    </div>
    {{/Form}}
  {{/Layout}}
</div>
