<div class="chats-page">
    {{#> Layout className="chats-page__layout" direction="row"}}
        {{#> Sider className="chats-page__chats-list"}}
            <div class="chats-page__button-container">
                {{{ Button label="Добавить чат" type="link" onClick=createChat className="chats-page__profile-button" }}}
                <div class="chats-page__profile-button-overlay">
                    {{{ Button label="Профиль" type="link" onClick=openProfile className="chats-page__profile-button" }}}
                    <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 9L5 5L1 1" stroke="#999999" />
                    </svg>
                </div>
            </div>
            <div class="chats-page__search-container">
                {{{ Input placeholder="Поиск" ref="search" inputClassName="chats-page__search" }}}
            </div>
            {{{ ContactList chats=chatsList }}}
        {{/Sider}}
        {{#> Layout className="chats-page__messages-window"}}
            {{{ Chat }}}
        {{/Layout}}
    {{/Layout}}
    {{{ AddChatModal }}}
    {{{ AddUserModal }}}
    {{{ DeleteUserModal }}}
</div>
