<div class="change-password-page">
    {{#> Sider }}
        {{{ IconButton onClick=goBack icon="arrow-blue-icon" className="change-password-page__back-button"}}}
    {{/Sider}}
    {{#> Layout className="change-password-page__container"}}
        {{#> Form className="change-password-page__form-container" overlayClassName="change-password-page__form-overlay"}}
            <div class="change-password-page__form-data">
            <div class="change-password-page__avatar">
                {{{ Avatar 
                    imageSrc="/assets/images/unknown-image.svg" 
                    label="Поменять аватар" 
                    name="avatar" 
                    className="" 
                    disabled=true
                }}}
            </div>
            <div class="change-password-page__fields">
                {{{ ProfileInputField ref="oldPassword" name="oldPassword" label="Старый пароль"  type="password" }}}
                {{{ ProfileInputField ref="newPassword" name="newPassword" label="Новый пароль" type="password" validate=validate.newPassword}}}
                {{{ ProfileInputField ref="newPasswordRepeat" label="Повторите новый пароль" type="password" validate=validate.newPassword}}}
            </div>
            </div>
            <div class="change-password-page__actions">
                {{{ Button label="Сохранить" type="primary" className="change-password-page__action-button" onClick=onSubmit }}}
            </div>
        {{/Form}}
    {{/Layout}}
</div>
