<button class='avatar {{className}}' type='button'>
	{{#if imageSrc}}
		<img src={{imageSrc}} alt='' class='avatar__image' />
	{{/if}}
	{{#if disabled}}{{else}}
		<label for='{{name}}' class='avatar__overlay'>
			<span class='avatar__label'>{{label}}</span>
			<input
				name='{{name}}'
				type='file'
				id='avatar-upload'
				accept='.jpg, .jpeg, .png'
				class='avatar__input'
				ref='file'
			/>
		</label>
	{{/if}}
</button>
