<div class="sign-up">
    {{#> Layout}}
    {{#> Form className="sign-up__form" overlayClassName="sign-up__form-overlay" title="Регистрация"}}
    <div>
        {{{ InputField ref="email" name="email" label="Почта" type="email" overlayClassName=""
        validate=validate.email}}}
        {{{ InputField ref="login" name="login" label="Логин" type="text" className="" validate=validate.login}}}
        {{{ InputField ref="first_name" name="first_name" label="Имя" type="text" className=""
        validate=validate.firstName}}}
        {{{ InputField ref="second_name" name="second_name" label="Фамилия" type="text" className=""
        validate=validate.secondName}}}
        {{{ InputField ref="phone" name="phone" label="Телефон" type="text" className="" validate=validate.phone}}}
        {{{ InputField ref="password" name="password" label="Пароль" type="password" className=""
        validate=validate.password}}}
        {{{ InputField ref="secondPassword" label="Пароль (ещё раз)" type="password" className=""
        validate=validate.secondPassword }}}
        {{{ ErrorLine errorText=errorText ref="errorText" }}}
    </div>
    <div class="sign-up__action-buttons">
        {{{ Button label="Зарегистрироваться" type="primary" onClick=onSignUp className=""}}}
        {{{ Button label="Войти" type="link" onClick=onLogin className=""}}}
    </div>
    {{/Form}}
    {{/Layout}}
</div>
